# Configurações da aplicação
NODE_ENV=development
PORT=3000

# Banco de dados PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=reservas
DB_USER=dbadmin
DB_PASSWORD=sua_senha_aqui

# AWS (necessário para o Terraform)
AWS_ACCESS_KEY_ID=sua_access_key_aqui
AWS_SECRET_ACCESS_KEY=sua_secret_key_aqui
AWS_DEFAULT_REGION=us-east-1
